body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #091b40;
    color: #333;
}

h1 {
    color: white;
    margin-bottom: 1px;
    font-size: 5.5em;
    margin-left: 270px;
    margin-top: 100px;

}

h2 {
    color: white;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-size: 30px;
    margin-left: 270px;
    font-weight: normal;


}

h3 {
    color: #091b40;
    margin: 5px;
    font-size: 1.4em;

}

button {
    background-color: #acd4f1;
    color: white;
    padding: 12px 80px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-left: 270px;

}

button:hover {
    background-color: #2980b9;
}

.computer {
    position: absolute;
    top: 200px;
    right: 400px;
    z-index: -1;
}